.shop{
    padding: 1rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}