#root{
  display: flex;
  flex-direction:column;
}

body{
  background-color: var(--background);
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
  background-color: var(--background);
}

ul{
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  font-size: 1.1rem;
}

nav h4{
  font-weight: bolder;
}

main{
  display: flex;
  gap: 10rem;
  flex-grow: 1;
}

.main-card{
  background-color: var(--hero-background);
  padding: 3rem 5rem;
  border-radius: 1.6rem;
  margin: 6rem 0 10rem 6rem;
}

.styled-button{
  border-radius: 1.6rem;
  padding: 0.5rem 0.8rem;
  color: var(--highlighted-text);
}

.secondary{
  background: var(--secondary);
}
.primary{
  background: var(--primary);
}

.hero-image{
  flex: 2 1 auto;
  background-image: url("./assets/images/threewomentransparent.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}
