@import './styles/theme.css';

:root {
  
 
  font-family: "Alice", serif, system-ui;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,#root {
  min-height: 100vh; 
  max-width: 1280px;
  min-width: 100vw;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

a {
  font-weight: 500;
}

button{
  all: unset;
  
}


ul,ol{
  list-style: none;
}

.icon-container{
  display:flex;
  justify-content: center;
  align-items: center;
}